.container{
   background-color: tan;
   padding: 40px;
    
}
.form-row{
    display: flex;
}
.form-row input{
    flex: 1;
   
}
.main-layout{
    background-color: tomato;
    flex: 3;
    order: 2;
    
    padding: 10px;
}
.sidebar-one{
    background-color: thistle;
    flex: 1;
    order: 1;
    
    padding: 10px;
}
.sidebar-two{
    background-color: turquoise;
    flex: 1;
    order: 3;
    padding: 10px;
}
.column-layout{
    display: flex;
}
.call-outs-container{
    display: flex;
    justify-content: space-between;
    
}
.call-out{
    box-sizing: border-box;
    flex-basis: 32%;
    
    
}
.call-out:nth-child(1){background-color: teal;}
.call-out:nth-child(2){background-color: thistle;}
.call-out:nth-child(3){background-color: tomato;}


@media screen and (max-width:500px){
    .call-outs-container{
        flex-direction: column;
        
    }
    
}
.fixed-size-container{
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.fixed-size{
    background-color: yellow;
    width: 120px;
    height:50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


